<style type="text/css">
.content
{
	color: #000000;
	font-family:"宋体";
	font-size:10px;
	line-height:20px;
	text-decoration:none;
}
.content_a:link
{
	color: #000000;
	font-family:"宋体";
	font-size:10px;
	text-decoration:none
}
.content_a:visited
{
	color: #333333;
	font-family:"宋体";
	font-size:10px; text-decoration: none; 
	font-style: normal; 
	line-height: normal
}
.content_a:hover
{
	color: #000000;
	font-family:"宋体";
	font-size:10px;
	text-decoration: none
}
