@charset "utf-8";

.qy {
	width: 804px;
}

.qy1 {
	width: 400px;
	height: 100px;
	float: left;
	border: 1px solid #E5E5E5;
	display: inline-block;
}

.qy2 {
	width: 400px;
	height: 100px;
	float: right;
	border: 1px solid #E5E5E5;
	display: inline-block;
}